/* styles.css */
body {
    background-image: url(images/triptych.jpg);
    background-size: contain;
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;

}
  