/* styles.css */
body {
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevent scroll bars */
    background-image: url('images/triptych.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  